* {
  box-sizing: border-box;
}

nav {
  border: 1px solid #000;
  width: 100vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready {
  background-color: #F00;
}
